@import "~bootstrap/less/bootstrap";

body {
  background-color: black;
  color: silver;
}

.application-header {
  border-bottom: 3px solid gray;
  margin-bottom: 0px;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
}

/*.header-main {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
}
*/

.navbar-default .navbar-nav > .active > a {
  background-color: #343434;
  font-weight: bold;
}

.side-panel {
  position: fixed;
  background-color: #222;
  top: 54px;
  bottom: 0;
}

.main-panel {
  top: 54px;
  padding: 15px;
}

.left-panel {
  .side-panel;
  border-right: 3px solid gray;
}

.side-panel-header {
  background-color: light-gray;
  color: white;
  font-weight: bold;
  border-bottom: 3px solid gray;
  padding: 10px 0px 15px 0px;
}

th, td {
  width: 12%;
}

table, th, td {
    border: 1px solid gray;
    padding: 2px;
    text-align: center;
}
