@import "~bootstrap/less/bootstrap";

body {
  background-color: black;
  color: silver;
}

.application-header {
  border-bottom: 3px solid gray;
  margin-bottom: 0px;
  min-height: 35px;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  .container {
    margin: 5px;
  }
}

.form-control[disabled] {
  opacity: 0.3;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #343434;
  font-weight: bold;
}

.form-group .col-xs-1 {
  padding-left: 0px;
  width: 8%;
}

.form-group .col-xs-3 {
  margin-right: 1px;
}

.side-panel {
  position: fixed;
  background-color: #222;
  top: 54px;
  bottom: 0;
}

.main-panel {
  top: 40px;
  padding: 40px 15px 15px 15px;
}

.left-panel {
  .side-panel;
  border-right: 3px solid gray;
}

.side-panel-header {
  background-color: light-gray;
  color: white;
  font-weight: bold;
  border-bottom: 3px solid gray;
  padding: 10px 0px 15px 0px;
}

/*th, td {
  width: 12%;
}

table, th, td {
    border: 1px solid gray;
    padding: 2px;
    text-align: center;
}
*/