<!DOCTYPE html>
<html lang="en">
<head>
  <meta charSet="utf-8" />
  <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Utopia Target Finder</title>
  <script src="/build/main-bundle.js" async></script>
</head>
<body>
  <div id="app"></div>
</body>
</html>
